node_modules
test-results
tmp/
management-information/web/static/

# Cypress cli run artifact folders
cypress/logs
cypress/screenshots
cypress/videos
cypress/downloads
/cypress/cypress/

# binaries
/main

# IDEs
.idea

.DS_Store
.cache
.gocache
