services:
  management-information:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-management-information:latest
    build:
      dockerfile: docker/management-information/Dockerfile
      target: prod
    ports:
      - "7777:7777"
    environment:
      PORT: 7777
      PREFIX: /management-information
      HEALTHCHECK: /management-information/health-check
      SIRIUS_PUBLIC_URL: http://localhost:8080
      SIRIUS_URL: http://json-server:3000
    depends_on:
      json-server:
        condition: service_started

  json-server:
    build:
      dockerfile: json-server/Dockerfile
    ports:
      - '3000:3000'

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: [ "--headless", "-b", "electron" ]
    volumes:
      - ./cypress/screenshots:/root/cypress/screenshots:rw,delegated
      - ./cypress/logs:/root/cypress/logs:rw,delegated
    depends_on:
      management-information:
        condition: service_healthy

  go-lint:
    image: golangci/golangci-lint:v2.7.1
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v2.4.0:/root/.cache
    command: golangci-lint run -v --timeout 5m

  gosec:
     image: securego/gosec:latest
     working_dir: /app
     volumes:
         - .:/app
     command: -exclude-dir=.gocache -fmt=sarif -out=/app/test-results/gosec.sarif -stdout -verbose=text /app/...

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
      - ./.trivyignore:/.trivyignore
    environment:
      - TRIVY_DB_REPOSITORY=${TRIVY_DB_REPOSITORY}
      - TRIVY_JAVA_DB_REPOSITORY=${TRIVY_JAVA_DB_REPOSITORY}
      - TRIVY_USERNAME=${DOCKER_USERNAME}
      - TRIVY_PASSWORD=${DOCKER_PASSWORD}

  yarn:
    image: node:22-alpine3.19
    working_dir: /home/node/app
    entrypoint: yarn
    volumes:
      - ./:/home/node/app