services:
  management-information:
    image: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/sirius-management-information:latest
    build:
      dockerfile: docker/management-information/Dockerfile
      target: prod
    ports:
      - "7777:7777"
    environment:
      PORT: 7777
      PREFIX: /management-information
      HEALTHCHECK: /management-information/health-check
      SIRIUS_PUBLIC_URL: http://localhost:8080
      SIRIUS_URL: http://json-server:3000
      BACKEND_URL: http://management-information-api:7171
    depends_on:
      json-server:
        condition: service_started

  management-information-api:
    build:
      dockerfile: docker/management-information-api/Dockerfile
      target: prod
    ports:
      - "7171:7171"
    environment:
      PORT: 7171
      HEALTHCHECK: /health-check
      SIRIUS_PUBLIC_URL: http://localhost:8080
      SIRIUS_URL: http://json-server:3000
      AWS_REGION: eu-west-1
      AWS_BASE_URL: http://localstack:4566
      AWS_ACCESS_KEY_ID: localstack
      AWS_SECRET_ACCESS_KEY: localstack
      S3_ENCRYPTION_KEY: alias/aws/s3
      AWS_S3_ENDPOINT: http://localstack:4566
      ASYNC_BUCKET: opg-backoffice-async-uploads-local
    depends_on:
      json-server:
        condition: service_started
      localstack:
        condition: service_healthy

  json-server:
    build:
      dockerfile: json-server/Dockerfile
    ports:
      - '3000:3000'

  cypress:
    build:
      dockerfile: docker/cypress/Dockerfile
    command: [ "--headless", "-b", "electron" ]
    volumes:
      - ./cypress/screenshots:/root/cypress/screenshots:rw,delegated
      - ./cypress/logs:/root/cypress/logs:rw,delegated
    depends_on:
      management-information:
        condition: service_healthy

  go-lint:
    image: golangci/golangci-lint:v2.4.0
    working_dir: /go/src/app
    volumes:
      - ./:/go/src/app
      - ./.cache/golangci-lint/v2.4.0:/root/.cache
    command: golangci-lint run -v --timeout 5m

  gosec:
     image: securego/gosec:latest
     working_dir: /app
     volumes:
         - .:/app
     command: -exclude-dir=.gocache -fmt=sarif -out=/app/test-results/gosec.sarif -stdout -verbose=text /app/...

  trivy:
    image: aquasec/trivy:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./.trivy-cache:/root/.cache
      - ./test-results:/test-results
      - ./.trivyignore:/.trivyignore
    environment:
      - TRIVY_DB_REPOSITORY=${TRIVY_DB_REPOSITORY}
      - TRIVY_JAVA_DB_REPOSITORY=${TRIVY_JAVA_DB_REPOSITORY}
      - TRIVY_USERNAME=${DOCKER_USERNAME}
      - TRIVY_PASSWORD=${DOCKER_PASSWORD}

  yarn:
    image: node:22-alpine3.19
    working_dir: /home/node/app
    entrypoint: yarn
    volumes:
      - ./management-information:/home/node/app

  localstack:
    image: localstack/localstack:4.7
    volumes:
      - "./scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./scripts/localstack/files:/scripts/files"
      - "./scripts/localstack/wait:/scripts/wait"
    ports:
      - "4566:4566"
    environment:
      AWS_DEFAULT_REGION: eu-west-1
    healthcheck:
      test: bash /scripts/wait/healthcheck.sh
      interval: 10s
      timeout: 10s
      retries: 50