{{ template "page" . }}
{{ define "title" }}OPG Sirius Management Information - Uploads{{ end }}
{{ define "main-content" }}
    {{ block "uploads" .Data }}
        {{ template "navigation" . }}
        <div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2> Add Upload page content here </h2>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}