// Sirius specific styles
.management-info {
  .govuk-width-container,
  .moj-header__container,
  .moj-primary-navigation__container {
    max-width: none;
    padding: 0 15px;
  }

  .govuk-main-wrapper {
    padding-top: 0px;
  }

  .moj-sub-navigation {
    margin-bottom: 0;
  }

  .moj-sub-navigation__link {
    cursor: pointer;
  }


  main {
    header {
      display: flex;
      justify-content: space-between;
      padding: 0.5em 0 0.5em;
      border-bottom: 1px solid $govuk-border-colour;
      margin-bottom: 2em;
    }
  }

  .hide {
    display: none;
  }

  .no-underline {
    text-decoration: none;
  }
}

.management-info-error {
  .govuk-grid-column-two-thirds {
    padding-left: 45px;
    padding-bottom: 15px;
  }
}